:root {
    --100: 100%;
    --px: px;
    --white: white;
    --transparent: transparent;
    --f-n: "Nunito Sans",
        sans-serif;
    --radius: 32px;
    --shadow: 0 px px rgba(0, 0, 0, 0.1);

    --transition: all 0.3s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    height: var(--100);
    font-family: var(--f-p);
    font-size: 14px;
    font-weight: 400;
}

.main-container {
    width: var(--100);
    max-width: var(--100);
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
ol {
    list-style: none;

}




a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

.input::placeholder,
.select::placeholder {
    color: inherit;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

.btn {
    display: inline-block;
    color: var(--white);
    padding: 14px 33px;
    border-radius: var(--radius);
    transition: var(--transition);
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
}

.btn:hover {
    background: var(--bg-blue);
}

.button-flex {
    display: flex;
    gap: 12px;
}

.video {
    width: 100%;
    position: relative;
    padding: 0;
}

.t-w {
    color: var(--white);
}

.flex {
    display: flex;
}

.bg-green {
    background: #238554;
}

.bg-blue {
    background: #121543;
}

.desktop-hide {
    display: none;
}

.div-flex {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: "Nunito Sans",
        sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
}

p {
    font-family: "Nunito Sans",
        sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
}

.section-hero {
    padding: 0 !important;
    margin: 0 !important;
}

.main-container {
    padding: 0 !important;
    max-width: 100% !important;
}